body {
  background-color: #776D5A;
}

h1 {
    text-align: center;
  background-color: #ABDAE1;
  width: 700px;
  border-radius: 50px;
  color: #af9bc5;
  
}

h2 {
  color: #A09CB0;
}

p {
  color: #A09CB0;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
